.rectangle,
.circle {
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    
    svg {
        font-size: 1.8rem;
    }
}

.rectangle {
    background: transparent;
    cursor: pointer;
    border-radius: 10px;
    padding: 12px;

    &:hover {
        background: var(--white-1);
    }

    &.active {
        background: var(--white-2);
    }
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.text {
    font-size: 1.5rem;

    & ~ .rightIcon {
        margin-left: 4px;
    }
}

.leftIcon ~ .text {
    margin-left: 4px;
}

.leftIcon,
.rightIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
}
