.container {
    position: sticky;
    top: 85px;
}

.item {
    flex-direction: column;
    margin: 2px 0;
    width: 75px;
    height: 75px;
    border-radius: 0;

    &:hover {
        background: initial;
    }

    svg {
        font-size: 2rem;
    }
}

.title {
    font-size: 1.2rem;
    padding-top: 4px;
    font-weight: 600;
    margin-left: 0 !important;
}

.link {
    display: block;
    height: 100%;
    border-radius: 12px;
    transition: all 0.2s linear;

    &:hover {
        background: var(--white-1);
    }
}

.link.active {
    background: var(--white-2);

    &:hover {
        background: var(--white-2);
    }
}

.active {
}
