.container {
    padding: 6px 0;
}

.title {
    font-size: 1.4rem;
    color: #292929;
}

.img {
    width: 36px;
}

.description {
    font-size: 1.3rem;
    font-weight: 500;
    color: red;
    margin-top: 4px;
}
