.container {
    margin-top: 60px;
    
    .ProductList {
        display: initial;
    }

    .arrow {
        width: 40px;
        height: 40px;

        svg {
            font-size: 1.7rem;
        }
    }
}
